:root{
    --beige:#ebe2ab;
    --bgcolor-1:rgb(255, 255, 255);
    --brcolor-2:#0D1D68;
   }




body {
    background-color:var(--bgcolor-1);
   
}

.cont {
    top: 52%;
    left: 31.5%;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 480px;
    width: 400px;
    box-shadow: 0px 20px 30px var(--brcolor-2);
    background:var(--brcolor-2);
    color: var(--bgcolor-1);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.cont h1 {
    padding: 30px;
    color:var(--white);
}

.photo{
    width: 19cm;
    height: 13cm;
    position: relative;
    top: 20vh;
    left:89vh;
}
 .log{
      float: right; 
 position: relative;
 bottom:0cm;
 right: 37cm;
 height: 3cm;

} 
/* //................................................// */

.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
   
    width: 30%;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--brcolor-2);
    border: none;
    box-shadow: 2px 2px #eeeeee;
    background: var(--beige);
}


.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
